<section class="about-us" id="about-us">
  <div class="container about-us-container">
    <div class="about-us-info">
      <h2 class="about-us-title">About us</h2>
      <ul class="about-us-list">
        <li class="about-us-list-item">
          <p class="about-us-text">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </li>
        <li class="about-us-list-item">
          <p class="about-us-text">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device - it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best?
          </p>
        </li>
      </ul>
      <a href="#catalog" class="about-us-view-catalog">View catalog</a>
    </div>

    <div class="about-us-container-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="/img/d-about.jpg 1x, /img/d-about@2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/p-about.jpg 1x, /img/p-about@2x.jpg 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/m-about.jpg 1x, /img/m-about@2x.jpg 2x"
        />
        <img
          class="image-about-us"
          src="/img/m-about.jpg"
          alt="photo of a watch "
        />
      </picture>
    </div>
  </div>
</section>
