<section class="advertisement section">
  <div class="container">
    <h2 class="visually-hidden">Advertisement</h2>
    <div class="caption-container">
      <p class="advertisement-caption">
        <span class="advertisement-accent">Choose </span>your story<span
          class="advertisement-accent"
          >, making every moments unique. Time is your style, and we reweal
          it.</span
        >
      </p>

      <a class="advertisement-link" href="#contact-us">Contact Us</a>
    </div>
  </div>
</section>
