<section class="catalog section" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-image">
          <img
            src="/img/catalog1.webp"
            srcset="/img/catalog1.webp 1x, /img/catalog1@2x.webp 2x"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="292"
            class="catalog-img"
          />
        </div>

        <div class="container-catalog">
          <p class="catalog-txt">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-text">&euro;500</p>
        </div>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-image">
          <img
            src="/img/catalog2.webp"
            srcset="/img/catalog2.webp 1x, /img/catalog2@2x.webp 2x"
            alt="Garmin Marq Athlete"
            width="292"
            class="catalog-img"
          />
        </div>

        <div class="container-catalog">
          <p class="catalog-txt">Garmin Marq Athlete</p>
          <p class="catalog-text">&euro;450</p>
        </div>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-image">
          <img
            src="/img/catalog3.webp"
            srcset="/img/catalog3.webp 1x, /img/catalog3@2x.webp 2x"
            alt="Garmin Descent MK1"
            width="292"
            class="catalog-img"
          />
        </div>

        <div class="container-catalog">
          <p class="catalog-txt">Garmin Descent MK1</p>
          <p class="catalog-text">&euro;680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-image">
          <img
            src="/img/catalog4.webp"
            srcset="/img/catalog4.webp 1x, /img/catalog4@2x.webp 2x"
            alt="Garmin D2 Delta PX"
            width="292"
            class="catalog-img"
          />
        </div>

        <div class="container-catalog">
          <p class="catalog-txt">Garmin D2 Delta PX</p>
          <p class="catalog-text">&euro;380</p>
        </div>
      </li>
      <li class="catalog-list-item hidden-items">
        <div class="catalog-image">
          <img
            src="/img/catalog5.webp"
            srcset="/img/catalog5.webp 1x, /img/catalog5@2x.webp 2x"
            alt="Garmin Fenix 6 Pro Solar"
            width="292"
            class="catalog-img"
          />
        </div>

        <div class="container-catalog">
          <p class="catalog-txt">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-text">&euro;400</p>
        </div>
      </li>
      <li class="catalog-list-item hidden-items">
        <div class="catalog-image">
          <img
            src="/img/catalog6.webp"
            srcset="/img/catalog6.webp 1x, /img/catalog6@2x.webp 2x"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="292"
            class="catalog-img"
          />
        </div>

        <div class="container-catalog">
          <p class="catalog-txt">Tube Watch S42 Date Steel With Black Case</p>
          <p class="catalog-text">&euro;395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn">Show more</button>
  </div>
</section>
