<section class="hero section">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="hero-text">
        <h1 class="hero-title">
          Welcome to our
          <span class="accent">collection</span> of premium watches
        </h1>
        <p class="hero-descr">
          Our watches are not just timepiecs, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-people">
        <ul class="hero-list">
          <li class="hero-list-items">
            <img
              class="hero-list-img"
              src="/img/person1.webp"
              alt="photo review Victoria"
              srcset="/img/person1.webp 1x, /img/person1@2x.webp 2x"
              width="44"
            />
          </li>
          <li class="hero-list-items">
            <img
              class="hero-list-img"
              src="/img/person2.webp"
              alt="photo review John"
              srcset="/img/person2.webp 1x, /img/person2@2x.webp 2x"
              width="44"
            />
          </li>
          <li class="hero-list-items">
            <img
              class="hero-list-img"
              src="/img/person3.webp"
              alt="photo review Anastasia"
              srcset="/img/person3.webp 1x, /img/person3@2x.webp 2x"
              width="44"
            />
          </li>
        </ul>
        <a class="scroll-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture class="hero-img">
      <source
        srcset="/img/d-hero.jpg 1x, /img/d-hero@2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="/img/p-hero.jpg 1x, /img/p-hero@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/m-hero.jpg 1x, /img/m-hero@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img
        class="hero-watch"
        src="/img/d-hero.jpg"
        alt="watch section hero"
        width="1150"
      />
    </picture>
  </div>
</section>
