<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-container">
      <li class="review-card">
        <img
          src="./img/person2.webp"
          srcset="./img/person2.webp 1x, ./img/person2@2x.webp 2x"
          alt="Portrait of John Wax"
          class="review-image"
        />
        <p class="review-name">John Wax</p>
        <p class="review-text">
          Buying a watch from this store was the best choice for me. The design
          is perfectly combined with high-quality materials. The strap fits
          nicely on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="review-card">
        <img
          src="./img/person1.webp"
          srcset="./img/person1.webp 1x, ./img/person1@2x.webp 2x"
          alt="Portrait of Victoria Romashenko"
          class="review-image"
        />
        <p class="review-name">Victoria Romashenko</p>
        <p class="review-text">
          Can't take my eyes off my watch from this store. Every time I put it
          on, it is admired by those around me. The build quality and attention
          to detail make it a real gem among my accessories.
        </p>
      </li>
      <li class="review-card">
        <img
          src="./img/person3.webp"
          srcset="./img/person3.webp 1x, ./img/person3@2x.webp 2x"
          alt="Portrait of Anastasia Trachuk"
          class="review-image"
        />
        <p class="review-name">Anastasia Trachuk</p>
        <p class="review-text">
          My watch from this store is a real masterpiece. Every detail impresses
          with the high quality of execution. Special features like water
          resistance make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
