<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content">
      <div class="sale-list-div">
        <ul class="sale-list">
          <li class="sale-list-item">
            <img
              srcset="./img/sale1@2x.webp 2x"
              src="/img/sale1.webp"
              alt="MARQ Commander 1"
            />
          </li>
          <li class="sale-list-item">
            <img
              srcset="/img/sale2@2x.webp 2x"
              src="/img/sale2.webp"
              alt="MARQ Commander 2"
            />
          </li>
          <li class="sale-list-item">
            <img
              srcset="/img/sale3@2x.webp 2x"
              src="/img/sale3.webp"
              alt="MARQ Commander 3"
            />
          </li>
          <li class="sale-list-item">
            <img
              srcset="/img/sale4@2x.webp 2x"
              src="/img/sale4.webp"
              alt="MARQ Commander 4"
            />
          </li>
        </ul>
        <div class="sale-list-item-div2">
          <img
            srcset="/img/sale5@2x.webp 2x"
            src="/img/sale5.webp"
            alt="MARQ Commander Gen 2  - Carbon Edition"
          />
        </div>
      </div>
      <div class="sale-description">
        <div class="sale-description-title-div">
          <h3 class="sale-description-title">
            MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="sale-description-tag">Product tag: 706587</p>
        </div>
        <div class="sale-description-price">
          <div class="sale-price">
            <p class="sale-price-count"><span>&#8364;</span>1500</p>
          </div>
          <p class="sale-price-old"><span>&#8364;</span>3000</p>
        </div>

        <p class="sale-description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="sale-description-list">
          <li class="sale-description-list-tag">
            <a class="sale-description-text-tag">Fused carbon fiber</a>
          </li>
          <li class="sale-description-list-tag">
            <a class="sale-description-text-tag">Grade-5 Titanuim</a>
          </li>
          <li class="sale-description-list-tag">
            <a class="sale-description-text-tag">Athlete</a>
          </li>
          <li class="sale-description-list-tag">
            <a class="sale-description-text-tag">Golfer</a>
          </li>
          <li class="sale-description-list-tag">
            <a class="sale-description-text-tag">Commander</a>
          </li>
          <li class="sale-description-list-tag">
            <a class="sale-description-text-tag">Adventurer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
